// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.

function Fib.fib 1
// BASE CASES; Fib(0) and Fib(1)
push argument 0         // Holds argument - finds if less than 2
push constant 1
gt
if-goto ABOVE_2

// Skips base cases
push argument 0         // Returns either 0/1 depending on which case it is
return

label ABOVE_2            // Otherwise, if it is not a base case:
push argument 0
push constant 1
sub
call Fib.fib 1

push argument 0
push constant 2
sub
call Fib.fib 1

add
return